/* ======== GLOBAL ======== */

body {
    margin: 0;
    padding: 0;
    background-color: #202050;
    font-family: "Segoe UI", Arial, sans-serif;
    color: #e0e0e0;
}

/* ======== TITRE ======== */

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    letter-spacing: 1px;
    color: #ffffff;
    text-shadow: 0 0 10px #4da6ff;
}

/* ======== INPUT FICHIER ======== */

#fileInput {
    display: block;
    margin: 10px;
    padding: 4px;
    background: #1a1a22;
    border: 1px solid #444;
    border-radius: 6px;
    color: #ddd;
    cursor: pointer;
}

#fileInput:hover {
    border-color: #4da6ff;
}

/* ======== BOX DE CONTROLE ======== */

#controlsBox {
    position: fixed;
    left: 20px;
    top: 65%;
    transform: translateY(-50%);
    width: 240px;
    padding: 20px;

    background: rgba(20, 20, 30, 0.85);
    border: 1px solid #3a3a4a;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);

    backdrop-filter: blur(6px);
}

/* ======== CANVAS ======== */

#canvasContainer {
    margin-left: 350px;
    padding-top: 20px;
}

/* ======== CRÉDITS ======== */

#credits {
    text-align: center;
    padding: 10px;
    background: rgba(20, 20, 30, 0.85);
    border-top: 1px solid #3a3a4a;
    color: #ddd;
    font-size: 14px;
    margin-top: 20px;
}

/* ======== ACCORDÉON ======== */

.accordion-header {
    width: 100%;
    padding: 10px;
    background: #1a1a22;
    border: 1px solid #333;
    border-radius: 8px;
    color: #9ecbff;
    text-align: left;
    cursor: pointer;
    margin-bottom: 5px;
    transition: 0.2s;
}

.accordion-header:hover {
    background: #24242f;
    border-color: #4da6ff;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    background: #11131a;
    border-left: 2px solid #4da6ff;
    border-radius: 0 0 8px 8px;
    padding: 0 10px;
    transition: max-height 0.3s ease-out;
}

/* ======== PANNEAU INFO PLANÈTE (DROITE) ======== */

#planetInfoPanel {
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100%;
    background: rgba(20, 20, 30, 0.95);
    border-left: 2px solid #4da6ff;
    box-shadow: -5px 0 15px rgba(0,0,0,0.6);
    padding: 20px;
    color: white;
    transition: right 0.4s ease;
    overflow-y: auto;
    z-index: 9999;
}

#planetInfoPanel.open {
    right: 0;
}

#planetInfoPanel h2 {
    text-align: center;
    margin-top: 10px;
}

.moreLink {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #4da6ff;
    text-decoration: underline;
}

#closePopup {
    float: right;
    font-size: 26px;
    cursor: pointer;
    color: #4da6ff;
}

#closePopup:hover {
    color: #77c3ff;
}
